<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目修改</title>
</head>
<body>
<form action="/buyitem/update/{{ item.id }}" method="post">
    {% csrf_token %}
    <p>
        idx <input type="text" value="{{ item.id }}" disabled="disabled">
    </p>
    <p>
        商品名称 <input type="text" value="{{ item.good }}" name="good">
    </p>
    <p>
        品牌型号 <input type="text" value="{{ item.brand }}" name="brand">
    </p>
    <p>
        单位 <input type="text" value="{{ item.unit }}" name="unit">
    </p>
    <p>
        数量 <input type="text" value="{{ item.quantity }}" name="quantity">
    </p>
    <p>
        姓名 <input type="text" value="{{ item.name }}" name="name">
    </p>
    <p>
        联系电话 <input type="text" value="{{ item.phone }}" name="phone">
    </p>
    <p>
        课题编号 <input type="text" value="{{ item.num }}" name="num">
    </p>
    <p>
        采购说明 <input type="text" value="{{ item.info }}" name="info">
    </p>
    <p>
        备注/商品编号 <input type="text" value="{{ item.detail }}" name="detail">
    </p>
    <p>
        单位全称 <input type="text" value="{{ item.group }}" name="group">
    </p>
    <p>
        物资分类 <input type="text" value="{{ item.classif }}" name="cif">
    </p>
    <p>
       股份/集团 <input type="text" value="{{ item.company }}" name="cmp">
    </p>
    <p>
        提交日期(请不要改动格式) <input type="text" value="{{ date }}" name="date">
    </p>
    <p>
        是否完成 <input type="text" value="{{ item.finish }}" name="finish" disabled="disabled">
    </p>
    <input type="submit" name="upd" size="5">
    <input type="submit" value="返回" name="back" size="5">
</form>
</body>
</html>